<!DOCTYPE html>

<html lang="fr">
{% extends "base.html" %}
{% block title %}Un sujet du forum{% endblock %}




{% block content %}
<p><a href="/accueilforum/"> Retour a la liste des forums </a> </p>

<p>{{ forum_info.title }}: </p>
{% if thread_list %}
    <ul>
{% for Thread in thread_list %}
    <li><a href="/thread/{{ Thread.id }}/">{{ Thread.title }}</a></li>
    {{ Thread.pub_date }}
{% endfor %}
    </ul>
{% else %}
    <p>Aucun sujet disponible</p>
{% endif %}

<form action="/forum/{{ forum_info.id }}/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}